<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>サンプル</title>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"
	integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
	crossorigin="anonymous"></script>
<script type="text/javascript">
	$(function() {
		var ws = new WebSocket("ws://localhost:8080/echo");
		ws.onopen = function() {
		};
		ws.onclose = function() {
		};
		ws.onmessage = function(message) {
			$("#result").append(message.data).append("<br>");
		};
		ws.onerror = function(event) {
			alert("接続に失敗しました。");
		};
	});
</script>
</head>
<body>
	<div id="result"></div>
</body>
</html>